.xyz
{
    background-color: pink;
}




.one
{
	background-color: blue;
	margin-left: 2%;

}
.two
{
	background-color: green;
	margin-left: 2%;

}
.three
{
	background-color: blue;
	margin-left: 2%;

}
.four
{
	background-color: green;
	margin-left: 2%;

}
.five
{
	background-color: blue;
	margin-left: 2%;

}